<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- applications -->
    <package id="googlechrome"/>
    <package id="vlc">
    <package id="7zip"/>
    <package id="dropbox"/>
    <package id="sysinternals"/>
    <package id="camtasia"/>
    <package id="steam"/>
    <package id="bulk-crap-uninstaller"/>
    <package id="autohotkey"/>
    <package id="paint.net"/>
    <package id="irfanview"/>
    <package id="windirstat"/>
    <package id="audacity"/>
    <package id="googledrive"/>
    <package id="spotify"/>
    <package id="foobar2000"/>
    <package id="deluge"/>

    <!-- dev tools -->
    <package id="git"/>
    <package id="cmder">
    <package id="putty"/>
    <package id="postman"/>
    <package id="linqpad"/>
    <package id="gradle"/>
    <package id="nuget.commandline"/>
    <package id="poshgit"/>
    <package id="dotpeek"/>
    <package id="docker-desktop"/>
    <package id="fiddler"/>
    <package id="curl"/>
    <package id="yo"/>

    <!-- IDEs, editors -->
    <package id="notepadplusplus"/>
    <package id="visualstudiocode"/>
    <package id="intellijidea-community">
    <package id="sql-server-management-studio">
    <package id="vim"/>

    <!-- SDKs -->
    <package id="openjdk"/>
    <package id="dotnetcore-sdk"/>
    <package id="nodejs"/>
    <package id="python"/>
    <package id="golang"/>
    <package id="openssl.light"/>
</packages>