<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- applications -->
    <package id="googlechrome"/>
    <package id="vlc">
    <package id="7zip"/>
    <package id="dropbox"/>
    <package id="sysinternals"/>
    <package id="camtasia"/>
    <package id="steam">

    <!-- dev tools -->
    <package id="git"/>
    <package id="putty"/>
    <package id="postman"/>
    <package id="linqpad"/>
    <package id="nuget.commandline"/>
    <package id="poshgit"/>
    <package id="dotpeek"/>
    <package id="docker-desktop"/>

    <!-- IDEs, editors -->
    <package id="notepadplusplus"/>
    <package id="visualstudiocode"/>

    <!-- SDKs -->
    <package id="openjdk"/>
    <package id="dotnetcore-sdk"/>
    <package id="nodejs"/>
    <package id="python"/>
    <package id="golang">
</packages>